/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~bootstrap/dist/css/bootstrap.css";

.fs-14{
    font-size: 14px;
}
.fs-20{
    font-size: 20px;
}

.fs-24{
    font-size: 24px;
}

.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
@media (min-width: 480px) {
.fs-14 {
    font-size: 30px;
}
}